body{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: khaki;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

input{
    font-size: 20px;
}

#enviar:hover{
    box-shadow: 0 0 10px 1px blue;
}

.campos:hover{
    outline: 1px solid blue;
}

table{
    padding: 10px;
    width: 75vw;
    font-family: cursive;
    color: #151515;
    background-color: #151515;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 5px black;
}

tr{
    background-color: aliceblue;
}

#cuerpoTabla{
    text-align: center;
}

tr button{
    background-color: #151515;
    font-size: 30px;
    border: solid 1px darkgoldenrod;
    border-radius: 10px;
}